.k-imageradio-choice-input {
	flex-wrap: wrap;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	row-gap: var(--spacing-2);
	input {
		margin-left: var(--spacing-3);
	}
	.k-choice-input-label {
		padding-right: var(--spacing-3);
	}
}
.k-imageradio-choice-wrapper {
	display: flex;
	gap: var(--spacing-3);
}
.k-imageradio-choice-image {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: var(--pattern);
	border-top-left-radius: var(--input-rounded);
	border-top-right-radius: var(--input-rounded);

	img {
		display: block;
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
		z-index: 1;
		&.contain {
			object-fit: contain;
		}
		&.cover {
			object-fit: cover;
		}
	}

	@media screen and (max-width: 60rem) {
	  	&:not([data-mobile]) {
	  		display: none;
	  	}
	}
}
